
body {
    width: 1000px
}

header {
	height: 84px;
	background-color: darkblue;
    border-bottom: 2px solid white;
}

h1{
    background-color: green;
    margin-left: 175px;
    float: left;
}

nav {
    background-color: cadetblue;
    float: right;
    margin-right: 175px
}

#mypic {
    width: 132px;
    height: 167px;
    float: left;
    clear: both;
}

.main {
    background-color: aquamarine;
    width: 650px;
    height: 480px;
    margin-left: 175px;
    clear: both;
}

.about {
    background-color: blue;
    
}

footer {
    background-color: lightgreen;
    text-align: center;
}

