
body {
    width: 960px;
    background-image: url(/assets/images/qbkls.png);
    margin: 0 auto;
}

header {
	height: 84px;
	background-color: #ffffff;
    border-bottom: 2px solid gray;
}

hr {
    border-bottom: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 155px;
    float: left;
    margin-top: 26px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    padding-top: 20px;
    padding-left: 10px;
    border: -10px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    /** background-color: cadetblue; **/
    float: right;
    margin-right: 155px;
    margin-top: 46px;
    text-align: center;
    padding-bottom: 2px color grey;
}

li {
    display: inline;
    font-size: 20px;

}

#mypic {
    width: 132px;
    height: 167px;
    float: left;
    clear: both;
    padding: 10px;
}

.main {
    background-color: #ffffff;
    width: 650px;
    margin-left: 155px;
}

p {
    padding: 10px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about {
    background-color: #ffffff;
}

footer {
    background-color: #666666;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 10px solid #4aaaa5;
}

#copyr {
    color: #ffffff;
}

form {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    width: 650px;  
}

.contact {
    width: 650px;
    padding: 10px;
    color: #666666;
    /* margin-left: 155px; */
}

.container {
    position: relative;
    text-align: left;
    color: white;
    padding: 10px;
}

.imgtext {
    position: absolute;
    background-color: #4aaaa5;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

